body{
  background-color: #e8e8ea;
  transition:.2s;
}

.sidebar{
  min-height: 100vmax; 
  min-width: 220px;
  width: 275px;
  max-width: 25vw;
  position: fixed;
  color: #404040;
  margin-left: 8vw;
}

.content{
  position: fixed;
  min-width: 450px;
  width: calc(100% - 33vw);
  min-height: 100vmax; 
  margin-left: 33vw;
  color: #404040;

}

.bgImg{
  background-image: url(./img/homepic.jpg);
  background-position: absolute; 
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}





@media (max-width: 800px) {

  .sidebar{
    min-width: 200px;
    height: 70px;
    margin-top: 50vh;
    margin-left: 25px;
  }
  .content{
    min-height: 40%;
    height: 40%;
    min-width: 90%;
    margin-left: 25px;
    margin-top: 15vh;
  }

}
