body{
	background-image: url(./img/homepic.jpg);
  background-position: absolute; 
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar{
  min-height: 100vmax; 
  width: 275px;
  position: fixed;
  color: #404040;
}

.content{
  position: fixed;
  width: calc(100% - 276px);
  min-height: 100vmax; 
  margin-left: 276px;
  color: #404040;
}

