body{
	height: 100vh;
}
.title1{
  width:200px;
  float:right;
}

.blurb2{
  text-align: right;
  font-family: 'News Cycle', sans-serif;
  position: relative;
  font-size: .8em;
  margin-top: 10px;
  min-width: 400px;
  width: 100%;
  float: right;
  top:-15px;
  right: 5px;
}