.introContent{
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	text-align: right;
	padding-right: 30px;
	overflow-y:scroll;
	color: #404040;


}
.title{
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 45vh;


}

.blurb{
  text-align: justify;
  font-family: 'News Cycle', sans-serif;
  position: relative;
  font-size: .8em;
  margin-top: 10px;
  min-width: 400px;
  width: 70%;
  float: right;
}

img{
	max-width: 100%;
	min-width: 100%;
}
.setDetails{
	font-size: 10px;
	padding-bottom: 20px;
}

.a:hover{
	color:#93d6ce;
}
.photoList{
	position: relative;
	float: right;
	max-width: 1600px;
	border: solid red 1px;
}