/*.introContentPhoto{
	font-family: 'Montserrat', sans-serif;
  overflow-x: auto;
	color: #404040;
}
*/

.textContainer{
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 45vh;

}
.titlePhoto{
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
}

.blurb{
  text-align: justify;
  font-family: 'News Cycle', sans-serif;
  position: relative;
  font-size: .8em;
  margin-top: 10px;

}
/** coming soon **/
.blurb1{
  text-align: right;
  font-family: 'News Cycle', sans-serif;
  position: relative;
  font-size: .8em;
  margin-top: 10px;
  min-width: 400px;
  width: 70%;
  float: right;
  right: 5px;
}

.a:hover{
	color:#b3a296;
}
