.homeContainer{
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-size: .8em;
	height:100vh;
}
.about{
  font-family: 'News Cycle', sans-serif;
  position: absolute;
  margin-top: 45vh;
  width:20vw; 
  height: 100px;
}
a:link{
	color:#404040;
	transition:0.25s;
}
a:hover{
	color:#93d6ce;
}
a:visited {
	color: #404040;
}
.icons{
letter-spacing: 10px;
margin-right: -10px;
font-size: 1em;
}
i{
	transition:0.25s;
}
i.linked:hover{
	color:#93d6ce;
}
.photoCredits{

	font-size: 10px;
	padding-top: 96vh;
	width:99%;
}