
.homeContainer{
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-size: .8em;
	height:100vh;
}
.about{
  font-family: 'News Cycle', sans-serif;
  position: absolute;
  margin-top: 45vh;
  width:250px; 
  height: 100px;
}
a:link{
	color:#404040;
	transition:0.25s;
}
a:hover{
	color:#b3a296;
}
a:visited {
	color: #404040;
}
.icons{
letter-spacing: 10px;
margin-right: -10px;
font-size: 1em;
}
i{
	transition:0.25s;
}
i.linked:hover{
	color:#b3a296;
}
.photoCredits{
	font-family: 'News Cycle', sans-serif;
	font-size: 10px;
	padding-top: 94vh;
	width:97%;
}
.mobile{
	display: none;
}





@media (max-width: 840px) {

  .homeContainer{
	text-align: left;
	font-size: 1em;	
  }
  .about{
	width: 68%;
  }
  .icons{
	letter-spacing: 20px;
	font-size: 1.2em;
  }
  .photoCredits{
	display: none;
  }
  .mobile{
	font-size: .8em;
	display: block;
  }

}

@media (max-width: 400px) {
	.homeContainer{
	font-size: .85em;	
  }
}