.introContentPhoto{
  position: absolute;
  height:100vh; 
  white-space:nowrap;
  overflow-y:hidden; 
}
.photoSet{
  position: relative;
  display: inline-block;
  height: 100vh;
}

.contentBlock{
  vertical-align: top;
  position: relative;
  display: inline-block;
  transition: .2s;
  height: 100vh;

}

.contentBlock.intro{
  white-space:normal;
  background: #d8d7d3;
  z-index: 200;
  width: 450px;
}
.contentBlock.spacer{
  width: 40vw;
  z-index: 0;
}

.hoverText{
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
  position:relative;
  bottom: 0vh;
  text-align: center;
  background: #d8d7d3;
  opacity: .6;
  height: 60px;
  overflow-y:hidden; 
  padding-top: 5px;
  transition:bottom .25s ease-in-out;
}

/*.contentBlock.set{
  cursor: pointer;
  display: inline-block;
}

.contentBlock:hover.set{
  opacity: .8;
  transition-delay:.2s;

}*/
.contentBlock:hover .hoverText{
  bottom: 55px;
}


/*.expand{
  display: flex;
  position: relative;
  overflow: hidden;
  height: 700px;
  -webkit-transition: width 0.5s;
  transition: width .25s ease;
}
*/
.contentBlock img{
  max-height: 100vh;
  min-height:100vh;
}

.contentBlock iframe{
  margin-top: calc(50vh - 225px);
  margin-left: 30px;
  margin-right: 30px;

}
.contentBlock.video{
  position: relative;
}
.setDetails{
	font-size: 10px;
  width: 200px;
  text-align: center;
  padding-top: 50vh;
}
