.menu{
  position: relative;
  text-align: center;
  margin-top: 25vmax;
  font-family: 'Montserrat', sans-serif;
}
.name{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: 400;
  transition:0.25s;


}
.name:hover{
  cursor: pointer;
  color: #93d6ce;
  font-size: 23px;

}
.menuItems{
  width: 80%;
  height: 10px;
  transform: translateX(10%);
  margin-top: 1px;
  font-size: 9px;
  letter-spacing: 1.5px;
}

.menuItem{
  font-size: 10px;
  height: 25px;
  width: 33%;
  float:left;
  transition:0.25s;

}

.menuItem:hover{
  cursor: pointer;
  color: #93d6ce;
  font-size: 11px;
}
#creative{
  text-align: left;
  vertical-align: middle

}
#learner{
  text-align: right;
  vertical-align: middle
}

