.itemsContainer{
  margin-top: 50px;
  width: 80%;
  transform: translateX(10%);
}
.item{
	transition:0.25s;
	font-family: 'News Cycle', sans-serif;
  	font-size: .8em;
  	text-decoration: none;
}
.item:hover{
	cursor: pointer;
	color: #b3a296;
}
